<app-alert></app-alert>
<div class="clr-row">
    <div class="clr-col-6">
        <h4>Opening Hours for Store</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Days</th>
                    <th>From</th>
                    <th>to</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let store of originalDetails;index as i;">
                    <th>{{store.weekday}}</th>
                    <td><input type="time" name="from_{{i}}" [(ngModel)]="store.from_hour" [ngModelOptions]="{standalone: true}" [disabled]="isDisabled"/></td>
                    <td><input type="time" name="to_{{i}}" [(ngModel)]="store.to_hour" [ngModelOptions]="{standalone: true}" [disabled]="isDisabled"/></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary" (click)="toggle()">Edit Toggle</button>
        <button class="btn btn-primary" (click)="update()">Update</button>
    </div>
    <div class="clr-col-6">
            <form clrForm #simpleForm="ngForm" clrLayout="vertical">
                    <h4>Counts Vs Date Plot</h4>
                    <div class="clr-row">
                        <div clas="clr-col-6">
                                <clr-date-container>
                                        <label>Enter From Date</label>
                                        <input type="date" name="from_date" [(ngModel)]="date.from_date" clrDate>
                                    </clr-date-container>
                        </div>
                        <div clas="clr-col-6">
                                <clr-date-container>
                                        <label>Enter To Date</label>
                                        <input type="date" name="to_date" [(ngModel)]="date.to_date" clrDate>
                                </clr-date-container>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="plot()">Generate Plot</button>
                </form>
                <app-timeline-chart
                *ngIf="plotData.length > 0"
                [results] = "plotData">
                </app-timeline-chart>

    </div>
</div>