<div class="login-wrapper">
    <form class="login" clrForm #loginForm="ngForm" name="loginForm" (ngSubmit)="loginForm.form.valid && submit(loginForm.value)">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Stores Company
            <h5 class="hint">Use your Company ID to sign in</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username" required/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password" required/>
            </clr-password-container>
            <div *ngIf="loginForm.form.invalid" class="error active">
                Please enter user name or password
            </div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
    </form>
  </div>
  